html, body{
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.questionContainer{
    justify-content: center;
    align-content: center;
    display: flex
}

.questionForm{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

.singleQuestion{
    margin: 10px 10px;
}

.submitButton{
    border-radius: 6px;
    font-size: 16px;
    width: 250px;
    height: 50px;
    border: 2px #ffffff solid;
    background-color: #4CAF50;
    text-align: center;
    color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 100px;
}

.submitWrap{
    text-align: center;
}

.submitButton:hover{
    background-color: #3F9443;
}

button:hover{
    cursor: pointer;
}

.questionOption{
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 5px), black 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1s;
    text-align: center;
    margin: auto;
}

.heart{
    color: red;
}

#lives{
    font-size: 1.5em;
}

.questionOption:hover{
    background-size: 100% 100%;
}

#loading{
    height: 40%;
    width: 50%;
}
.center{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.makeVisible {
    opacity: 100 !important;
}

.checkBoxContainer label, checkBoxContainer input{
    display: block;
    vertical-align: middle;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 30px;
}

#goodQuestion{
    pointer-events: all;
}

.headerButton {  
    font-size: 20px;
    height: 100%;
    width: 150px;
    background-color: #06a77d;
    color:white;
    border-radius: 6px;
    border: 2px #ffffff solid;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.headerButton:hover{
    background-color: #02926c;
}

.headerButton:after{
    background-color: #02926c;
}


#AllContent{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background: #00A5CF;
    color: white;
    font-size: 30px;
    flex-shrink: 0;
}
#content{
    flex-grow: 12;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    flex-shrink: 0;
}

.contentMiddle{
    flex: 2;
}

.contentSide{
    flex: 1;
}

#footer {
    height: 20%;
    display: flex;
    text-align: center; 
    background-color: #004788;
    flex-shrink: 0;
}

#container{
    display: flex;
    flex: 1;
}

#headerLogo{
    display: flex;
    flex: 1
}
#headerTitle{
    display: flex;
    flex: 1
}
#headerGameModes{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.logoContainer{
    float: left;
    width: 100px;
}

.logo{
    width: 100px;
    float: left;
    opacity: 100%;
}

.logoButton{
    width: 120px;
    height: 80px;
    position: absolute;
    top: 5;
    left: 0;
    opacity: 0;
}

#menuform{
    float: left;
}
#load{
      display: none;
}

#scoreBoardConatiner{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
}

#quiz{
    flex-direction: column;
    display: flex;
    width: 50%;
    align-content: center;
    padding: 5px;
}

#survival{
    flex-direction: column;
    display: flex;
    width: 50%;
    align-content: center;
    padding: 5px;
}

.subTitle{
    text-align: center;
}

.questionTitle{
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}

.quizOption{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.goodQuestionTitle{
    font-size: 14px;
    pointer-events: all;
}

.questionContainer{
    flex-direction: column;
    justify-content: start;
    justify-items: start;
}

