html, body{
    width: 100%;
    height: 100%;
}

.questionContainer{
    justify-content: center;
    align-content: center;
}

.questionForm{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionBtn{
    background: transparent;
    border: none !important;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    
}

#questionBtn:hover{
    background-color: darkgray;
}

#questionBtn:checked{
    background-color: #4CAF50;
}

.singleQuestion{
    margin: 10px 10px;
}

#submitButton{
    border-radius: 6px;
    font-size: 16px;
    width: 250px;
    height: 50px;
    border: 2px #ffffff solid;
    background-color: #4CAF50;
    text-align: center;
    color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#submitButton:hover{
    background-color: #3F9443;
}

button:hover{
    cursor: pointer;
}

.questionOption{
    width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 5px), black 3px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
  text-align: center;
  margin: auto;
}

.heart{
    color: red;
}

#lives{
    font-size: 1.5em;
}
.questionOption:hover{
    background-size: 100% 100%;
}
#loading{
    height: 40%;
    width: 50%;
}
.center{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.makeVisible {
    opacity: 100 !important;
}

.checkBoxContainer label, checkBoxContainer input{
    display: inline-block;
    vertical-align: middle; 
    margin-right: 5px;
}
#goodQuestion{
    pointer-events: all;
}

.headerButton {  
    font-size: 20px;
    height: 100%;
    width: 150px
}

#quizGameMode {
    background-color: #3F9443
}

#AllContent{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background: #00A5CF;
    color: white;
    font-size: 30px;
    flex-shrink: 0;
}
#content{
    flex-grow: 12;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    flex-shrink: 0;
}

.contentMiddle{
    background-color: green;
    flex: 2;
}

.contentSide{
    background-color: yellow;
    flex: 1;
}

#footer {
    height: 20%;
    display: flex;
    text-align: center; 
    background-color: #004788;
    flex-shrink: 0;
}

#container{
    flex: 1;
}

#headerLogo{
    display: flex;
    flex: 1
}
#headerTitle{
    display: flex;
    flex: 1
}
#headerGameModes{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.logoContainer{
    float: left;
    width: 100px;
}

.logo{
    width: 100px;
    float: left;
    opacity: 100%;
}

.logoButton{
    width: 120px;
    height: 80px;
    position: absolute;
    top: 5;
    left: 0;
    opacity: 0;
}

#menuform{
    float: left;
}
#load{
      display: none;
}

#scoreBoardConatiner{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#quiz{
    flex-direction: column;
    display: flex;
    width: 50%;
    align-content: center;
    padding: 5px;
}

#survival{
    flex-direction: column;
    display: flex;
    width: 50%;
    align-content: center;
    padding: 5px;
}

.survival{
    align-items: center;
    justify-content: center;
}
