{% extends 'MasterView.html' %}

{% block body %}

<h1 class="center" >Score Board</h1>
<div id="scoreBoardConatiner">
    <div id="quiz" class="disappear">
        <h2>Quiz</h2>
        <table>
            <tr>
                <th>Nickname</th>
                <th>Score</th>
            </tr>
        {% for x in quiz %}
            <tr>
                <td>{{x['nickName'] }}</td>
                <td>{{x['score']}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div id="survival" class="disappear">
        <h2>Survival</h2>
        <table>
            <tr>
                <th>Nickname</th>
                <th>Score</th>
            </tr>
        {% for x in survival %}
            <tr>
                <td>{{x['nickName'] }}</td>
                <td>{{x['score']}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}