{% extends 'MasterView.html' %}

{% block body %}
    
    <form action = "{{ url_for('MenuRedirect')}}" method = "post" id="questionForm">
        <div>
            <button type="submit" name="quiz" class="gameModeButton">Take a quiz</button>
            <button class="gameModeButton" type="submit" name="survival">Survival mode</button>
        </div>
    </form>
    <script>
        document.getElementById("questionForm").onclick = function() {myFunction()};
        
        function myFunction() {
            document.getElementById("load").setAttribute("style", "display: block");;
        }
    </script>
    {% raw %}
    <div id="load" class='center'>
        <h1>Scraping Wikipedia for questions</h1>
        <img id="loading" src="/static/loading.gif"></img>
    </div>
    {% endraw %}
{% endblock %}