{% extends 'MasterView.html' %}

{% block body %}
    <div class="questionContainer">
        <form action = "{{ url_for('ProcessSurvivalQuestion')}}" method = "post" id="questionForm">
                <button type="submit" name="menu">Menu</button>
                {% for i in range(lives)%}
                    <i>life </i>
                {% endfor %}
                {% for item in msg %}
                    <input type="checkbox" name="goodQuestion" >good question!</input>
                    
                    <div class="singleQuestion"><i>{{item.title}}</i></div>
                    {% for dict_item in item.options %}
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked{{dict_item}}" name="ans" value="{{dict_item}}">
                            <label class="custom-control-label" for="defaultUnchecked{{dict_item}}">{{dict_item[0]}}</label>
                        </div>
                            
                    {% endfor %}
                {% endfor %}
                <button type="submit" name="submitAns" value={{msg}} id="submitButton">submit</button>
        </form>
    </div>
    


{% endblock %}